# Architected and Developed by :- Faisal Hanif | imfanee@gmail.com.
# Default admin username/password: admin / admin
DATABASE_URL=postgres://minisms:CHANGE_THIS_PASSWORD@localhost:5432/minisms?sslmode=disable
SECRET_KEY=0000000000000000000000000000000000000000000000000000000000000000
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH='$2a$12$r9ehqaaXDfa3gaJU0GXiJes3n5AJaSAtn2SUi4qB7mWXzH8kvPAr.'
CSRF_AUTH_KEY=0000000000000000000000000000000000000000000000000000000000000000
PORT=8080
TLS_ENABLED=false
TLS_CERT_FILE=certs/dev-cert.pem
TLS_KEY_FILE=certs/dev-key.pem
LOG_LEVEL=info
APP_ENV=development
SESSION_IDLE_MINUTES=240
CARRIER_DISPATCH_TIMEOUT_S=10
